.group_1 {
    position: relative;
}
.logo_1 {
    position: absolute;
    left: 677px;
    bottom: 791px;
    top: 0px;
}
.logo_text {
    position: absolute;
    left: 686px;
    top: 72px;
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}
.item_text {
    display: flex;
    position: absolute;
    top: 101px;
    left: 422px;
}
.text {
    margin-right: 40px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
/* about us */
.item_left {
    background-size: cover;
}
.item_right {
    width: 927px;
    height: 450px;
    flex-shrink: 0;
    background: #9CAB70;
}
.text_1 {
    color: #FFF;
    font-family: 'Kaisei Decol', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding-top: 41px;
    padding-bottom: 27px;
}
.text_2 {
    width: 662px;
    height: 173px;
    color: #FFF;
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.item_right {
    text-align: center;
}
.about-us {
    display: flex;
    margin-top: 37px;
}
/* product */
.product {
    width: 1440px;
    height: 738px;
    background: #EEE;
    margin-top: 36px;
    position: relative;
    /* display: flex; */
    align-items: center
}
.product_text {
    position: absolute;
    top: 58px;
    left: 431px;
    color: #000;
    font-family: Kaisei Decol;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.total {
    display: flex;
    padding-left: 96px;
    padding-top: 222px;
}
.product_group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 274px;
    margin-right: 54px;
}
.img {
    width: 195px;
    height: 190px;
    border-radius: 195px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.product_text-2 {
    color: #000;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 13px;
    padding-bottom: 4px;
}
.product_text-3 {
    width: 274px;
    height: 143px;
    color: #000;
    text-align: center;
    font-family: Kaisei Decol;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
/* Discount */
.discount {
    display: flex;
}
.discount_left {
    width: 927px;
    height: 354px;
    background: #9CAB70;
    margin-right: 25px;
}
.discount_text-1 {
    color: #FFF;
    text-align: center;
    font-family: Italiana;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    padding-top: 26px;
}
.discount_text-2 {
    width: 654px;
    height: 103px;
    color: #FFF;
    /* font-family: Jost; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 126px;
    text-align: center;
    margin-bottom: 40px;
}
button.btn_1 {
    width: 227px;
    height: 57px;
    color: #383F26;
    text-align: center;
    /* font-family: Jost; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    border: 2px solid #68763F;
    background: rgba(255, 255, 255, 0.80);
}
.discount_btn {
    padding-left: 361px;
}
/* Contact */
.Contact {
    width: 1440px;
    height: 598px;
    background: url(./rectangle-10.png), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 37px;
}
.contact_box {
    width: 607px;
    height: 603px;
    flex-shrink: 0;
    background: #FAFAFA;
    margin-left: 416px;
}
.contact_item-1 {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 36px;
    padding-bottom: 37px;
}
.inp {
    width: 515px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 4px solid #9CAB70;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #787B6D;
    /* text-align:center ; */
    /* font-family: Jost; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 34px;
    margin-left: 46px;
}
.inp_2 {
    width: 515px;
    height: 135px;
    border-radius: 20px;
    border: 4px solid #9CAB70;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #787B6D;
    /* text-align: center; */
    /* font-family: Jost; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 46px;
    margin-bottom: 51px;
}
button.btn_2 {
    width: 153px;
    height: 52px;
    border-radius: 15px;
    border: 4px solid #9CAB70;
    background: #68763F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 408px;
} 
/* Footer */
.footer_logo-2 {
    display: flex;
    margin-left: 657px;
    margin-bottom: 16px;
}
.footer {
    width: 1440px;
    height: 245px;
    background: #FFF;
}
img.logo_2 {
    margin-right: 24px;
}
.footer_logo {
    margin-top: 28px;
    margin-left: 677px;
    width: 86px;
    height: 72px;
}
.logo_text-footer {
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    margin-left: 686px;
    margin-bottom: 16px;
}
.item_text-footer {
    margin-left: 445px;
    margin-bottom: 23px;
    color: #9CAB70;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text_footer {
    margin-right: 40px;
}

/* Phone max width < 768px */
@media screen and (max-width: 768px) {
     .background {
        width: 1000px;
        height: 800px;
     }
     .logo_1 {
        left: 360px;
     }
     .logo_text {
        left : 360px
     }
     .item_text {
        top: 130px;
        left: 100px
     }
     .text {
        width: 150px;
        margin-right: 20px;
     }
     /* about us */
     .item_left {
        display: none;
    }
    .item_right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        text-align: justify;
    }
    .text_2 {
        padding-left: 55px;
    }
    /* Product */
    .product {
        height: 1440px;
    }
    .total {
        width: 700px;
        flex-wrap: wrap;
    }
    .product_group-1 {
        margin-top: 120px;
    }
    .product_text {
        left: 110px;
    }
    /* discount */
    .discount_right {
        display: none;
    }
    .discount_text-2 {
        padding-left: 20px;
        width: 780px;
    }
    .discount_btn {
        padding-left: 300px;
    }
    /* Contact */
    .contact_box {
        margin-left: 100px;
    }
    /* Footer */
    .footer_logo {
        margin-left: 400px;
    }
    .logo_text-footer {
        margin-left: 400px;
    }
    .footer_logo-2 {
        margin-left: 375px;
    }
    .item_text-footer {
        margin-left: 110px;
    }
}
/* Tablet :768px < width < 992px*/
 @media screen and (min-width:768px) and (max-width: 992px) {
    .background {
        width: 1000px;
        height: 800px;
     }
     .logo_1 {
        left: 360px;
     }
     .logo_text {
        left : 360px
     }
     .item_text {
        top: 130px;
        left: 100px
     }
     .text {
        width: 150px;
        margin-right: 20px;
     }
     /* about us */
     .item_left {
        display: none;
    }
    .item_right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        text-align: justify;
    }
    .text_2 {
        padding-left: 55px;
    }
    /* Product */
    .product {
        height: 1440px;
    }
    .total {
        width: 700px;
        flex-wrap: wrap;
    }
    .product_group-1 {
        margin-top: 120px;
    }
    .product_text {
        left: 110px;
    }
    /* discount */
    .discount_right {
        display: none;
    }
    .discount_text-2 {
        padding-left: 20px;
        width: 780px;
    }
    .discount_btn {
        padding-left: 300px;
    }
    /* Contact */
    .contact_box {
        margin-left: 100px;
    }
    /* Footer */
    .footer_logo {
        margin-left: 400px;
    }
    .logo_text-footer {
        margin-left: 400px;
    }
    .footer_logo-2 {
        margin-left: 375px;
    }
    .item_text-footer {
        margin-left: 110px;
    }
 }